@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\000031}}
body,
ul,
dl,
ol,
input,
textarea,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  background: #fff;
  font-size: 12px;
  width: 100%;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\000032}}
li,
dd {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\000033}}
img {
  border: none;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\000034}}
a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\000035}}
.clear:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\000036}}
.clear,
.clearfix {
  zoom: 1;
}
/* IE6-7 触发 hasLayout */
/*reset end*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000312}}
.hidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000313}}
.myckbox {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000314}}
.myckbox-normal {
  background: url(../img/index.png) 0 0 no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000315}}
.myckbox-visited {
  background: url(../img/index.png) 0 -14px no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000316}}
.elli {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000317}}
.left {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000318}}
.mr5 {
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000319}}
.no-padding {
  padding: 0!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000320}}
.pop-bg {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000331}}
.wrap {
  min-width: 1400px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000332}}
.header .page-title {
  float: left;
  width: 20%;
  min-width: 277px;
  height: 94px;
  padding-left: 2%;
  line-height: 94px;
  font-size: 34px;
  color: #108ee9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000333}}
.header .ctrl {
  float: right;
  width: 75%;
  padding-right: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000337}}
.header .ctrl .search-box {
  float: right;
  width: 30%;
  height: 28px;
  margin-top: 52px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000345}}
.header .ctrl .search-box input {
  float: left;
  width: 70%;
  height: 28px;
  padding: 0 5px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000346}}
.header .ctrl .search-box .search-btn {
  float: right;
  width: 55px;
  height: 30px;
  line-height: 30px;
  margin-top: -1px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  background: #108ee9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000348}}
.header .ctrl .file-up {
  width: 165px;
  float: right;
  margin-top: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000349}}
.header .ctrl .file-tip {
  color: #ef6d16;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000350}}
.header .ctrl .myselect {
  float: right;
  width: 30%;
  height: 30px;
  margin-top: 52px;
  margin-right: 10px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000351}}
.header .ctrl .add-btn {
  float: right;
  width: 92px;
  height: 30px;
  margin-top: 52px;
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  background: #108ee9;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000352}}
.header .ctrl .del-btn {
  float: right;
  width: 92px;
  height: 30px;
  margin-top: 52px;
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  background: #ef6d16;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000354}}
.msg-table {
  margin-left: 2%;
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  table-layout: fixed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000360}}
.msg-table th {
  height: 48px;
  line-height: 48px;
  padding: 0 2%;
  background: #f0f0f0;
  border-bottom: 1px solid #eaeaea;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000361}}
.msg-table tr {
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000362}}
.msg-table tr:nth-child(even):hover {
  background: #fafafa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000363}}
.msg-table td {
  height: 38px;
  line-height: 38px;
  padding: 0 2%;
  border-bottom: 1px solid #eaeaea;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000364}}
.msg-table .describle {
  line-height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000365}}
.msg-table .activation {
  display: block;
  width: 45px;
  height: 22px;
  border-radius: 15px;
  background: #108ee9;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000366}}
.msg-table .activation .activa-bar {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000367}}
.msg-table .activation.on {
  background: #108ee9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000367}}
.msg-table .activation.on .activa-bar {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000368}}
.msg-table .activation.off {
  background: #a8a8a8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000368}}
.msg-table .activation.off .activa-bar {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000370}}
.msg-table .edit {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(../img/index.png) 0 -37px no-repeat;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000371}}
.msg-table .edit:hover {
  background: url(../img/index.png) 0 -56px no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000373}}
.msg-table .tr-detail .dt-cont {
  border-top: 1px dashed #eaeaea;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000375}}
.msg-table .copy {
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url(../img/index.png) 0 -77px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000377}}
.page {
  float: right;
  margin-right: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000380}}
.page li {
  display: inline-block;
  float: left;
  padding: 0 8px;
  height: 26px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin-right: 8px;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
  color: #272437;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000392}}
.page li:hover {
  background: #108ee9;
  border: 1px solid #108ee9;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000392}}
.page li:hover a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000393}}
.page li a {
  display: block;
  color: #272437;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000397}}
.page li.page-active {
  background: #108ee9;
  border: 1px solid #108ee9;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000397}}
.page li.page-active a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\0000398}}
.page li.page-disabled {
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  cursor: no-drop;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003102}}
.page li.page-disabled a {
  cursor: no-drop;
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003106}}
.ctrl-pop .pop {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1001;
  width: 740px;
  height: 590px;
  margin-left: -370px;
  margin-top: -253px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #8b8b8b;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003118}}
.ctrl-pop .pop .pop-tit {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 38px;
  line-height: 38px;
  background: #108ee9;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003129}}
.ctrl-pop .pop .pop-cont {
  padding: 30px 0  22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003131}}
.ctrl-pop .pop .pop-cont dl {
  line-height: 32px;
  margin-top: 10px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003132}}
.ctrl-pop .pop .pop-cont dt {
  float: left;
  width: 70px;
  height: 32px;
  padding-left: 22px;
  font-size: 12px;
  color: #3e3e3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003133}}
.ctrl-pop .pop .pop-cont dd {
  float: left;
  width: 585px;
  line-height: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003137}}
.ctrl-pop .pop .pop-cont dd input,
.ctrl-pop .pop .pop-cont dd select {
  float: left;
  width: 98%;
  height: 28px;
  line-height: 28px;
  padding: 0 1%;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003138}}
.ctrl-pop .pop .pop-cont dd select {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003139}}
.ctrl-pop .pop .pop-cont dd textarea {
  float: left;
  width: 98%;
  padding: 1%;
  height: 56px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  resize: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003140}}
.ctrl-pop .pop .pop-cont dd .isJYrequst {
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003143}}
.ctrl-pop .pop .sure {
  float: left;
  width: 92px;
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  background: #108ee9;
  margin: 0 10px 0 269px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/mock_server\/simple_mock\/simple_mock\/mock\/css\/index\.less}line{font-family:\00003144}}
.ctrl-pop .pop .cancle {
  float: left;
  width: 92px;
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  background: #108ee9;
}
